
# Mac OS
.DS_Store

# Python
__pycache__

/tests

# Logs
/logs
/webapi_logs

# Pycharm
.idea

# Config? **Is TEST folder useless ?**
/config

/curseforge
/modrinth
/data
test.py
/aria2c
.vscode/settings.json
