# beanie==1.25.0
dramatiq==1.16.0
odmantic==1.0.2
fastapi==0.109.0
httpx==0.26.0
loguru==0.7.2
motor==3.3.2
pydantic==2.6.0
pydantic_core==2.16.1
python-multipart==0.0.7
uvicorn==0.27.0
redis==5.0.1
gunicorn==22.0.0
orjson==3.10.3