
dramatiq==1.16.0
odmantic==1.0.2
fastapi[all]==0.111.1
httpx==0.26.0
loguru==0.7.2
motor==3.3.2
pydantic==2.6.0
pydantic_core==2.16.1
python-multipart==0.0.7
uvicorn==0.27.0
redis==5.0.1
aria2p==0.12.0
tenacity==8.3.0
xxhash==3.4.1
prometheus-fastapi-instrumentator==7.0.0